.upload-component {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  picture {
    margin: 10px auto;

    img {
      object-fit: cover;
    }
  }
}


